<div class="wrapper">
  <%= simple_form_for(@invite) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

     <div class="field">
      <%= f.label "Arrival" %>
      <%= f.date_field :arrival %>
    </div>

    <div class="field">
      <%= f.input :full_name %>
    </div>

    <div class="field">
      <%= f.input :email_visitor %>
    </div>

    <div class="field">
      <%= f.label "Host" %>
      <%= f.collection_select :user_id, @_current_location.users.order(:full_name).uniq, :id, :full_name, include_blank: false %>
    </div>

     <div class="field">
      <%= f.input :private_notes %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>