
<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <%= f.input :full_name %>
  </div>

  <div class="field">
    <%= f.input :email %>
  </div>

  <div class="field">
    <%= f.input :phone_number %>
  </div>

  <div class="field">
    <%= f.input :assistant_email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
