<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @employee.location.company_name %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @employee.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @employee.phone_number %>
</p>

<p>
  <strong>Assistant email:</strong>
  <%= @employee.assistant_email %>
</p>

<p>
  <strong>Delete at:</strong>
  <%= @employee.delete_at %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
