<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @invite.location.company_name %></h1>
    <h2><%= @invite.user.full_name %>invite you to <%= @invite.location.company_name %> <%= @invite.location.location_name %></h2>
      <p><%= @invite.user.full_name %> / <%= @invite.full_name%></p>
      <p><%= @invite.arrival.strftime("%e %b %Y %H:%M:%S%p") %></p>
      <p><%= @invite.location.company_name %></p>
      <p><%= @invite.location.address %></p>
  </body>
</html>