<h1><%= @invite.location.company_name %></h1>
<h2><%= @invite.host %>invite you to <%= @invite.location.company_name %> <%= @invite.location.location_name %></h2>
  <p><%= @invite.host %> / <%= @invite.full_name%></p>
  <p><%= @invite.arrival.strftime("%e %b %Y %H:%M:%S%p") %></p>
  <p><%= @invite.location.company_name %></p>
  <p><%= @invite.location.address %></p>