<h1><%= @invite.host %></h1>
<h2><%= @invite.host %>invite you to <%= @invite.host %></h2>
  <p><%= @invite.host %> / <%= @invite.full_name%></p>
  <p><%= @invite.arrival.strftime("%e %b %Y %H:%M:%S%p") %></p>