<div class="wrapper">
  <%= simple_form_for(@visitor) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="field">
      <%= f.label :location_id %>
      <%= f.collection_select :location_id, current_user.locations.order(:company_name), :id, :company_name %>
    </div>

     <div class="field">
      <%= f.label "Visitor Type" %>
      <%= f.select :purpose_of_visit, ['Visitor'], required: true, input_html: { class:"input" } %>
    </div>

    <div class="field">
      <%= f.label "Arrival Date" %>
      <%= f.datetime_select :sign_in_time, required: true, input_html: { class:"input" } %>
    </div>

    <div class="field">
      <%= f.input :your_full_name, required: true, input_html: { class:"input" } %>
    </div>

    <div class="field">
      <%= f.input :your_email_address, required: true, input_html: { class:"input" } %>
    </div>

    <div class="field">
      <%= f.label :host %>
      <%= f.collection_select :host, User.order(:full_name), :id, :full_name, include_blank: false %>
    </div>

    <div class="field">
      <%= f.label :photo_url %>
      <%= f.file_field :photo_url, id: :photo_url %>
    </div>

    <div class="field">
      <%= f.input :private_notes %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>