<div class="wrapper">
<p id="notice"><%= notice %></p>

<h1>Visitor Logs</h1>

<div class="search">
  <%= form_tag visitors_path, :method => 'get' do %>
  <%= label_tag(:search, "") %>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "Searching Visitor" %>
      <%= submit_tag "Search", :name => nil %>
    </p><br>
  <% end %>
</div>

<div>
  <%= form_tag visitors_path, :method => 'get' do %>
  <%= label_tag(:date, "") %>
    <p>
      <%= date_field_tag :date, params[:date] %>
      <%= submit_tag "Submit" %>
    </p><br>
  <% end %>
</div>

<%= link_to "Export", visitors_path(format: "xlsx"), class: 'small-button' %>

<table width="100%">
  <thead>
    <tr>
      <th>Your full name</th>
      <th>Location</th>
      <th>Your email address</th>
      <th>Private notes</th>
      <th>Photo</th>
      <th>Host</th>
      <th>Sign in time</th>
      <th>Sign out time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor_log| %>
      <tr>
        <td><b><%= link_to visitor_log.your_full_name, edit_visitor_path(visitor_log) %></b></td>
        <td><%= visitor_log.location.company_name %></td>
        <td><%= visitor_log.your_email_address %></td>
        <td><%= visitor_log.private_notes %></td>
        <td><%= image_tag(visitor_log.photo_url.default.url, alt: 'Image') if visitor_log.photo_url? %></td>
        <td><%= visitor_log.user.full_name %></td>
        <td><%= visitor_log.sign_in_time %></td>
        <td>
          <% if visitor_log.signed_out? == false %>
            Not Yet
          <% else %>
            <%= visitor_log.sign_in_time.strftime("%e %b %Y %H:%M:%S%p") %>
          <% end %>
        </td>
        <td>
          <% if visitor_log.signed_out? == false %>
            <%= link_to 'Sign Out', visitor_signed_out_path(visitor_log), method: :put   %></td>
          <% end %>
        <td><%= link_to 'Delete Visitor', visitor_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor Log', new_visitor_path %>
</div>
