<p id="notice"><%= notice %></p>

<p>
  <strong>Your full name:</strong>
  <%= @visitor.your_full_name %>
</p>

<p>
  <strong>Your email address:</strong>
  <%= @visitor.your_email_address %>
</p>

<p>
  <strong>Purpose of visit:</strong>
  <%= @visitor.purpose_of_visit %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @visitor.photo_url %>
</p>

<p>
  <strong>Host:</strong>
  <%= @visitor.host %>
</p>

<p>
  <strong>Location:</strong>
  <%= @visitor.location_id %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
